<launch>
    <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find perception)/config/perception.rviz"/>
    <arg name="bag_file"/>
    <param name="ec_cluster_tolerance" value="0.01" />
    <param name="ec_min_cluster_size" value="700" />
    <param name="ec_max_cluster_size" value="1200" />
    <param name="distance_above_plane" value="0.01" />
    <param name="crop_min_x" value="-0.5" />
    <param name="crop_max_z" value="1.5" />
    <param name="crop_max_x" value="1.05" />
    <param name="crop_min_z" value="0.7" />

    <node name="$(anon latch_mock_cloud)" pkg="applications" type="publish_saved_cloud.py" args="$(arg bag_file)"/>
    <node name="$(anon perception_demo)" pkg="perception" type="point_cloud_demo" args="/home/team1/data/handle/labels cloud_in:=/mock_point_cloud"/>



    <node name="$(anon gripper_teleop)" pkg="applications" type="gripper_teleop.py"/>
</launch>

