doctype html
html(lang="en")

  head
    title Nectar
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet" type="text/css" href="dist/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="dist/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="style.css")
    link(rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico")
    link(rel="icon" type="image/x-icon" href="assets/favicon.ico")

  body
    section
      .container#loginContainer(hidden="true")
        .row
          .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
            form.form
              .buttonGroup#loginButtonGroup
                button#loginCustomer I am hungry
                button#loginChef I am chef
      .container#passwordContainer(hidden="true")
        .row
          .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
            form.form
              input(type="password" name="password" placeholder="Chef password")
              .buttonGroup#passwordButtonGroup
                button#loginSubmit Log in
                button#loginBack Go back
              .response
      .container#pageToggleContainer(hidden="true")
        .row
          .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
            form.form#pageToggle
              .toggle
                input.toggleInput#toggleClientPage(type="radio" name="pageToggle" checked)
                label.toggleLabel(for="toggleClientPage") Order
                input.toggleInput#toggleChefPage(type="radio" name="pageToggle")
                label.toggleLabel(for="toggleChefPage") Manage orders
      .container#clientContainer(hidden="true")
        .row
          .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
            form.form
              fieldset.radioGroup#foodGroup
                legend Select entree
                  .loading.center-block
                  ul#food
              fieldset.radioGroup#sideGroup
                legend Select side dish
                  .loading.center-block
                  ul#sides
              fieldset.radioGroup#dessertGroup
                legend Select dessert
                  .loading.center-block
                  ul#dessert
              fieldset.radioGroup#drinkGroup
                legend Select beverage
                  .loading.center-block
                  ul#drinks
              fieldset.radioGroup#locationGroup
                legend Select location
                  .loading.center-block
                  ul#locations
              .buttonGroup
                button#submit Get food now
                .loading.center-block
                .response(hidden="true")
      .container#chefContainer(hidden="true")
        .row
          .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
            form.form
              .buttonGroup
                h3 Order queue
                .loading.center-block
                .response(hidden="true")
                ul#orderQueue

    script(src="dist/jquery/dist/jquery.min.js" type="text/javascript")
    script(src="dist/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")
    script(src="js/main.js" type="text/javascript")
