doctype html
html(lang="en")

  head
    title Nectar
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet" type="text/css" href="dist/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="dist/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="style.css")
    link(rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico")
    link(rel="icon" type="image/x-icon" href="assets/favicon.ico")


  body
    section
      .container#clientContainer
        .row
          .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
            form.form
              fieldset.radioGroup#foodGroup
                legend Select entree
                  .loading.center-block
                  ul#food
              fieldset.radioGroup#sideGroup
                legend Select side dish
                  .loading.center-block
                  ul#sides
              fieldset.radioGroup#dessertGroup
                legend Select dessert
                  .loading.center-block
                  ul#dessert
              fieldset.radioGroup#drinkGroup
                legend Select beverage
                  .loading.center-block
                  ul#drinks
              fieldset.radioGroup#locationGroup
                legend Select location
                  .loading.center-block
                  ul#locations
              .buttonGroup
                button#submit Get food now
                .loading.center-block
                .response
      .container#chefContainer
        .row
          .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
            form.form
              .buttonGroup
                h3 Order queue
                  .loading.center-block
                  .response
                  ul#orderQueue


    script(src="dist/jquery/dist/jquery.min.js" type="text/javascript")
    script(src="dist/bootstrap/dist/js/bootstrap.min.js" type="text/javascript")
    script(src="js/main.js" type="text/javascript")
